/*restartirame*/
body, div, form, span{
	margin: 0px;
	padding: 0px;
}
/*formata za registraciq*/
.regForm{
	border: 1px solid red;
	position: absolute;
	width: 18rem;
	height: 5rem;
}
/*poletata kam formata za registraciq*/
.regFieldNames{
	width: 9rem;
	position: relative;
	display: block;
	float: left;
}
/*holdera na tekstovite poleta*/
.regFieldInputs{
	display: block;
	float: left;
}
/*mqstoto v koeto shte pokazvame smeshnoto sadarjanie, kato molq izkaraite fast track kurs za...*/
.funContent{
	width: 0px;
	height: 0px;
	background: white;
	position: absolute;
}
/*span pole s natiskaneto na koeto izlizame ot zatamnenoto prostranstvo*/
.closeFunContent{
	position: relative;
	display: block;
	visibility:hidden;
	color: red;
	font-weight: bold;
	float: right;
	cursor: pointer;
}
